:root {
<<<<<<< HEAD
    // Fonts

    --font-main: 'Raleway', sans-serif;
    --font-accent: 'Playfair Display', serif;
    --font-secondary: 'Roboto', sans-serif;

    // Colors
    --dark: #242B33;
    --accent: #D4C17F;
    --white: #fff;
    --footer-bg: #2D343C;
    --placeholder: #BEBEBE;
    --muted: #E7E7E7;
}






// // Media
// $tablet: 959px;
=======
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: 'Poppins', sans-serif;
	--font-accent: 'Playfair Display', serif;

	--page-bg: #fff;
	--text-color: #000;
	--accent: #ac182c;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}
>>>>>>> ce95bfd3aa30f3e5d4a0fe5168153db3163a3e90
